<div class="container letra">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center" style="padding-bottom: 235px;">
            <br>
            <h5>Soluciones Informáticas a Tu Alcance, Desde el Software hasta la Reparación</h5>
            <h1>Servicios Técnicos de Mercy Developer</h1>

            <div class="pt-5 row justify-content-center">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/98.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Sistemas Operativos</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/456489598_2519837488224796_493320068497481550_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Software de Oficina</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/reparacion-de-software-y-hardware-de-computadores.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Reparación de Computadoras</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center"><H4>Instalacion y Funcionamiento Windows 10</H4> <br> </div>
<div class="container" style="max-width: 900px;">
    <div class="row g-0">
    <div class="col-md-4">
        <img src="assets/windowspro10.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title">Windows 10</h5>
        <p class="card-text">Windows 10 es un sistema operativo versátil y robusto, diseñado para usuarios domésticos y profesionales, que ofrece una experiencia moderna, fluida y eficiente, manteniendo la compatibilidad con aplicaciones y hardware de versiones anteriores.</p>
        <p class="card-text"><small class="text-body-secondary">$15,000 + 2000 IVA</small></p>
        </div>
    </div>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Descarga
    </button>
</div>
<div></div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Instalacion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                https://www.microsoft.com/es-es/software-download/windows10%20
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>